.home{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	height: 530px;
	background-image: url('../../../HomeBackground/fondo3.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;
	border-radius: 0px 0px 4px 4px;
}

.home .title h1 {
	display: flex;
	width: 636px;
	margin-left: 70px;
	margin-top: 130px;
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 55px;
	color: white;
	font-family: 'Kanit', sans-serif;
}

h1 {
	-webkit-text-stroke: 0.3px darkgrey;
	text-stroke: 0.3px darkgrey;
}

.home .description p {
	margin-top: 5px;
	margin-left: 70px;
	font-size: 22px;
	font-weight: medium;
	color: white;
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	-webkit-text-stroke: 0.5px black;
	text-stroke: 0.5px black;
}

.home .image img {
	width: 270px;
	height: 270px;
	border-radius: 0%;
	margin-left: 10px;
	margin-top: 7px;
}

.home .image {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	position: relative;
	width: 350px;
	height: 350px;
	margin-top: 100px;
	margin-left: 20px;
}

.rotate-animation {
  animation: expandBorder 5s infinite alternate;
}

.home .image::before,
.home .image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0%;
  border: 4px double darkgray;
  animation: expandBorder 5s alternate infinite;
}

@keyframes expandBorder {
  to {
    transform: scale(1.05);
  }
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  /* Ajusta los estilos para tamaños de pantalla más pequeños */
  .home {
  	width: auto;
  	height: auto;
  }

  .home .title h1 {
    font-size: 35px;
    margin-top: 50px;
    margin-left: 5px;
  }

  .home .description p {
    font-size: 14px;
    margin-left: 5px;
  }

  .home .image {
    width: 180px;
    height: 180px;
    margin-top: 0px;
    margin-left: 110px;
  }

  .home .image img {
    width: 160px;
    height: 160px;
  }
}